* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Rubik', 'Serge UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Sans-serif';
    background-color: #281E5D;
    color: #f4f4f4;
}

a {
    color: #f4f4f4;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 1rem;
}

code {
    font-family: source-code-pro, Mento, Monaco, Consolas, 'Courier New';
}